@page
@model IndexModel

@{
    ViewData["Title"] = "Home Page";
    ViewData["list-id"] = "category";
}

@*
    Masonry with card columns:
    https://getbootstrap.com/docs/5.0/components/card/#masonry
    https://getbootstrap.com/docs/5.0/examples/masonry/
*@

@foreach(var category in Model.ArticlesByCategory.Keys)
{
    <h1 align="center">@(category[0].ToString().ToUpper() + category[1..])</h1>
    @await Html.PartialAsync("~/Pages/Articles/ArticleList.cshtml", Model.ArticlesByCategory[category], ViewData)
}

@{
    ViewData["list-id"] = "latest-news";
}

<h1 align="center">Latest News</h1>
@await Html.PartialAsync("~/Pages/Articles/ArticleList.cshtml", Model.Articles, ViewData)

@section Scripts {
    <script>
        // Masonry
        $('#latest-news').masonry({ percentPosition: true });

        // Endless scroll
        function infinitiyScroll() {
            this.loading = false;       // True if asynchronous loading is in process

            this.AddTableLines = function (startIndex) {
                this.loading = true;
                
                $.ajax({
                    type: 'POST',
                    url: '/?handler=EndlessScroll',
                    data: { startIndex: startIndex },
                    dataType: "html"
                }).done(function (result) {
                    if (result) {
                        // Append result to grid
                        $('#latest-news').append(result);

                        // Remove Masonry and reinitialize
                        // https://masonry.desandro.com/options.html
                        // https://stackoverflow.com/questions/17476657/masonry-destroy-and-initialize-again
                        $('#latest-news').removeData('masonry');
                        $('#latest-news').masonry({ percentPosition: true });

                        self.loading = false;
                    }
                }).fail(function (xhr, ajaxOptions, thrownError) {
                    console.log("Error in AddTableLines:", thrownError);
                });
            }

            var self = this;

            window.onscroll = function (ev) {
                if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                    // User is currently at the bottom of the page
                    if (!self.loading) {
                        var itemCount = $('#latest-news div.col').length;
                        self.AddTableLines(itemCount);
                    }
                }
            };
        }

        var endlessScroll = new infinitiyScroll();
    </script>
}
