@page
@model NewsAssignment.Pages.NewsModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.articles[0].title)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.articles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
            </tr>
        }
    </tbody>
</table>