@page
@model NewsAssignment.Pages.NewsModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.englishArticles[0].title)</th>
            <th>@Html.DisplayNameFor(model=>model.englishArticles[0].link)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.englishArticles)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.title)</td>
                <td><a>@Html.DisplayFor(modelItem => item.link)</a></td>
            </tr>
        }
    </tbody>
</table>