@page
@model NewsAssignment.Pages.Ads.AdModel
@{
    Layout = null;
}

<center><h1>Ad Attempt 1</h1></center>

@{
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3923388535358640"
            crossorigin="anonymous"></script>
    <!-- Ad Attempt 1 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3923388535358640"
         data-ad-slot="4728382145"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
}

<center><h1>Ad Attempt 2</h1></center>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3923388535358640"
        crossorigin="anonymous"></script>
<!-- Ad Attempt 2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-3923388535358640"
     data-ad-slot="5630400274"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
