@model NewsAssignment.Models.Comment

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-page="../Comments/Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="ArticleID" class="form-control" value="@ViewData["ArticleID"]" hidden readonly/>
                <span asp-validation-for="ArticleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input  asp-for="Username" class="form-control" value="@ViewData["Username"]" hidden readonly/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentBody" class="control-label">Add Comment: </label>
                <input asp-for="CommentBody" class="form-control" />
                <span asp-validation-for="CommentBody" class="text-danger"></span>
            </div> <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<!--
<div>
    <a asp-action="Index">Back to List</a>
</div>
-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
