@model IEnumerable<NewsAssignment.Models.Comment>

<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
-->
<table class="table" id="commentTable">
    <thead>
        <tr class="header">
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentBody)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if(item.ArticleID.ToString() == ViewData["ArticleID"].ToString())
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentBody)
            </td>

        </tr>
}}
    </tbody>
</table>
