@page
@model NewsAssignment.Pages.Jokes.JokeModel

<h1>Jokes</h1>

<form method="post">
    <input asp-for="NumOfJokes" />
    <input type="submit" />
</form>
<br />

<center>
@foreach (var joke in Model.jokes)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.harryanddavid.com/blog/wp-content/uploads/2022/06/dad-jokes-laughing-hero.jpg" alt="morning dad laughing">
        <div class="card-body">
            <h5 class="card-title">Joke</h5>
            <p class="card-text">@joke.joke</p>
            <a href="#" class="btn btn-primary">Scroll Fast?</a>
        </div>
    </div>
}
</center>