@page
@model NewsAssignment.Pages.ArticleCreationPortal.IndexModel
@{
}


<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Writers</h5>
                <p class="card-text">Create articles here if you are a writer for the website.</p>
                <a href="ArticleCreationPortal/Writer" class="btn btn-primary">Article Creation</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Editors</h5>
                <p class="card-text">Edit articles submitted by the writing team if you are the site's editor.</p>
                <a href="ArticleCreationPortal/Editor" class="btn btn-primary">Edit Articles</a>
            </div>
        </div>
    </div>
        <div class="col-sm-6" style="margin-top:20px;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Publisher</h5>
                <p class="card-text">Review articles to be puublished if you are the site's publisher.</p>
                <a href="ArticleCreationPortal/Publisher" class="btn btn-primary">Publish Articles</a>
            </div>
        </div>
    </div>
</div>

<br />
You are signed in as: 
    @if (User.Identity.Name != null) { @Html.Raw(@User.Identity.Name); } else { @Html.DisplayName("Anonymous");  }
    <br />

    And your roles are: <br/> @if(Model.roleinfo != null)  {foreach(var v in Model.roleinfo){ @Html.Raw(v.ToString()) <br />;}}

